body {
    margin: 0;
	font-family: arial,verdana,helvetica,sans-serif;
	font-size:12px;
	height: 100%
}

a:link, a:visited, a {
	color: #003399;
	text-decoration: underline;
}

h1 {
	font-size:17px;
	color: #49A7C4;
}

h2 {
    color: #E47911;
    display: block;
    font-size: 18px;
    font-weight: normal; 
    line-height: 1.167;
    margin: 0;
}

h3 {
	color: #E47911;
    font-weight: normal; 
}

th { 
	background-color: #AED2EE;
	height: 20px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 2px;
}

tr:nth-child(odd) {
    background-color: #F1F1F1;
}

label {
	display: inline-block;
	width: 150px;
	text-align: right; 
	padding-right:10px;
	vertical-align: top;

}

b {
   color: #E47911;
}

.main-header {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E5E5E5;

}

.main-header img {
	margin-top: 15px;
	margin-left:20px;
}

.menu li a{
    color: #818181;
    font-size: 15px;
    text-decoration: none;
}

.main-header ul li{
    display: inline-block;
    font-size: 28px/32px ;
	font-weight: bold;
	padding: 10px; 
	margin-top: -10px;
}

.main-header ul {
	text-align:right;
	padding-right: 20px;
	margin:0;
}


.main-header  a:hover  {
    color: #F99600;
}

.content {
	padding:20px 6px;
}

.contentwrapper{
	float: left;
	width: 100%;
}

.content-outer-column{
	margin-right: 220px;
	height: 110px;
}

.content-inner-column {
	margin-left: 110px; /*Set left margin to LeftColumnWidth*/
}

.leftcolumn{
	float: left;
	width: 100px; /*Width of left column*/
	margin-left: -100%;

}

.rightcolumn{
	float: left;
	width: 200px; /*Width of left column*/
	margin-left: -200px;

}

.bluebox {
    border: 1px solid #C9E1F4;
    margin-bottom: 20px;
	border-radius:5px;
	clear:both;
}

.bluebox .header { 
	background-color: #AED2EE;
	height: 20px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 2px;
}

.bluebox-content {
	padding:6px;
}

.bluebox-content input {
	width:110px;
}

.bluebox-content label {
	width:60px;
	display: inline-block;
}

.bluebox-content .row {
	margin:3px 0;
}

.button {
	float:right;
background: #f7cd80; /* Old browsers */
background: -moz-linear-gradient(top,  #f7cd80 0%, #f79621 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7cd80), color-stop(100%,#f79621)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7cd80 0%,#f79621 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7cd80 0%,#f79621 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7cd80 0%,#f79621 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f7cd80 0%,#f79621 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7cd80', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */

	padding: 4px 8px;
	font-weight:bold;
	border-radius:5px;
	margin:1px;

}

.button a:link, .button a:visited, .button a {
	color: white;
	text-decoration:none;
}


.account-left {
    background: none repeat scroll 0 0 #F1F1F1;
    border-right: 1px solid #E5E5E5;
    height: 700px;
	width: 210px;
	min-height: 100%;
	padding: 15px;
	float:left;
	margin-left: -100%;	
}

.account-left ul li{
    display: block;
    font-size: 28px/32px ;
	font-weight: bold;
	text-align: right;
}

.account-right {
	margin-left: 240px; /*Set left margin to LeftColumnWidth*/
	padding: 20px;
}


.order-box .contentwrapper {
	border:1px solid #E5E5E5;
	border-radius:5px;
	margin-bottom:10px;
}

.order-box .left {
    float: left;
	margin-left: -100%;
	width:200px;
	padding:6px;


}

.order-box .right {
	padding:6px;
	margin-left: 200px;
	border-left: 1px solid #E5E5E5;
}

