{% extends 'account/summary.html' %}
{% load i18n %}
{% block account_right %}
<h2>{% trans "Give Your Items" %}:</h2>

<div><label>{% trans "Count" %}: </label><input></input></div>
<div><label>{% trans "Price" %}: </label><input></input></div>
<div><label>{% trans "Condition" %}: </label>
<select>
<option value="NEW">{% trans "New" %}</option>
<option value="LKNE">{% trans "Like New" %}</option>
<option value="GO">{% trans "Good" %}</option>
</select></div>
<div><label>{% trans "Status" %}: </label>
<select>
<option value="AC">{% trans "Active" %}</option>
<option value="IN">{% trans "Inactive" %}</option>
</select>
</div>
<div><label>{% trans "Note" %}: </label>
<textarea></textarea>
</div>

<div class="button" style="margin-right:30px;"><a href="account-material.htm">{% trans "Save" %}</a></div>
{% endblock %}
