{% extends 'account/summary.html' %}

{% block account_right %}
<h2>Books/CDs/DVDs</h2> 
<div class="button"><a href="{% url 'account_material_new' %}">Add Book/CD/DVD</a></div>
<table width="100%" cellspacing="1px" cellpadding="6px">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Type</th>
        <th>Price</th>
        <th>Shipping Cost</th>
        <th>Status</th>
    </tr>
    {% for material in materials %}
    <tr>
        <td><a href="{{ material.get_absolute_url }}">{{ material.title }}</a></td>
        <td>{{ material.get_author_names }}</td>
        <td>{{ material.type }}</td>
        <td>${{ material.price }}</td>
        <td>$0.00</td>
        <td>{{ material.status }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
