{% extends 'account/summary.html' %}

{% block account_right %}
<h2>Inventory</h2> 
<div class="button"><a href="{% url 'account_material_new' %}">Add Book/CD/DVD</a></div>
<table width="100%" cellspacing="1px" cellpadding="6px">
    <tr>
        <th>Material</th>
        <th>Author</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Condition</th>
        <th>Status</th>
		<th>Inventory Management</th>
    </tr>
    {% for material in materials %}
    <tr>
        <td><a href="{{ material.get_absolute_url }}">{{ material.title }}</a></td>
        <td>{{ material.get_author_names }}</td>
        <td>{{ material.typ }}</td>
		{% if material.givermaterial %}
	        <td>${{ material.givermaterial.quantity }}</td>
	        <td>{{ material.givermaterial.condition }}</td>
	        <td>{{ material.givermaterial.status }}</td>
			<td><a href="{% url 'giver_material_edit' pk=material.givermaterial.pk %}">edit</a></td>
		{% else %}
	        <td>-</td>
	        <td>-</td>
	        <td>-</td>
			<td><a href="{% url 'giver_material_new' %}?material={{material.pk}}">add</a></td>
		{% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
