{% extends 'account/summary.html' %}

{% block account_right %}
<h2>Inventory</h2> 
Here lists all books entered by all users, you can click on the link Register My Inventory to register your inventory. 
If you need to list a new book never listed by others yet, please click on Add Book button. After you add a book, 
you can then register your inventory for that book. <br>
Thanks for giving your book to others. 

<div class="button"><a href="{% url 'account_material_new' %}">Add Book</a></div>
<table width="100%" cellspacing="1px" cellpadding="6px">
    <tr>
        <th>Material</th>
        <th>Author</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Condition</th>
        <th>Status</th>
		<th>Inventory Management</th>
    </tr>
    {% for item in inventory %}
    <tr>
        <td><a href="{{ item.material.get_absolute_url }}">{{ item.material.title }}</a></td>
        <td>{{ item.material.author.name }}</td>
        <td>{{ item.material.typ }}</td>

	    <td>{{ item.quantity }}</td>
	    <td>{{ item.condition }}</td>
	    <td>{{ item.status }}</td>
	    <td><a href="{% url 'giver_material_edit' pk=item.id %}">Update</a></td>

    </tr>
    {% endfor %}    
    
    {% for material in materials %}
    <tr>
        <td><a href="{{ material.get_absolute_url }}">{{ material.title }}</a></td>
        <td>{{ material.author.name }}</td>
        <td>{{ material.typ }}</td>
	    <td>-</td>
	    <td>-</td>
	    <td>-</td>
	    <td><a href="{% url 'giver_material_new' %}?material={{material.pk}}">Register My Inventory</a></td>

    </tr>
    {% endfor %}
</table>
{% endblock %}
