{% extends 'base.html' %}

{% block body %}
<body class="account">

<div class="contentwrapper">	
		<div class="account-right">
			{% if msg == "password_success" %}
			<div class="msg">Your password has been successfully updated. Please use your new password from now on.</div> 
			{% endif %}
			{% if msg == "email_success" %}
			<div class="msg">An email was sent to your new email address. Please follow the instruction to activate your new email.</div> 
			{% endif %}		
			{% if msg == "activate_success" %}
			<div class="msg">Your account has been activated.</div> 
			{% endif %}		
			{% if msg == "email_change_success" %}
			<div class="msg">Your email address has been changed.</div> 
			{% endif %}								
			
            {% block account_right %}
            <b>Welcome {{ user.profile.get_display_name }}!</b>
			<br>
		
			{% if pending_items %}
			    You can checkout <a href="{% url 'view_bag' %}">{{pending_items}} pending order{{ pending_items|pluralize}}</a> in your cart.
			{% else %}
			    To request books, please enter your mailing address in <a href="{% url 'userena_profile_edit_from_view_bag' username=user.username %}">profile</a>.
			{% endif %}
			<br>			
			
			{% if user.profile.has_giver_profile %}
			   You can add books to <a href="{% url 'account_material' %}">My Inventory</a>. You may receive emails when readers place orders, and you can check your orders in <a href="{% url 'account_giving_orders' %}">Books I need to Send.</a>.
			{% else %}
			   Want to give books to others? Please complete giver's profile in <a href="{% url 'userena_profile_edit_from_inventory' username=user.username %}">profile</a> to start giving. 
			{% endif %}
			<br>
			

			
			{% if user.profile.has_reader_profile %}
			<p><b><a href="{% url 'account_reading_orders' %}">Books I am receiving</a></b>
			<ul>
			<li>New Orders: {{ reading_orders_new }}</li>
			<li>Shipped Orders: {{ reading_orders_shipped }}</li>
			<!-- li>Delivered Orders: {{ reading_orders_delivered }}</li-->
			</ul>
			</p>
			{% endif %}
			
			{% if user.profile.has_giver_profile %}			
			<p><b><a href="{% url 'account_material' %}">My Inventory</a></b><br>
			BuddhistExchange maintains a public index of books, so please check if you book has already been entered by others. 
			If nobody has entered your book, you can enter it  
			with Add Book action. After your book shows up in the book index, you can add or edit your own inventory of this book. 
			<ul>
			<li>Active Items: {{ materials_active }}</li>
			<li>Inactive Items: {{ materials_inactive }}</li>	
			</ul>
			</p>
		
			<p><b><a href="{% url 'account_giving_orders' %}">Books I Need to Send</a></b><br>
			Once you entered your inventory, it will show up in the public listing. Others may start requesting books from you. Orders from 
			readers will show up here. 
			<ul>
			<li>New Orders: {{ giving_orders_new }}</li>
			<li>Shipped Orders: {{ giving_orders_shipped }}</li>
			<!-- li>Delivered Orders: {{ giving_orders_delivered }}</li -->
			</ul>
			</p>

			{% endif %}
            
            {% endblock account_right %}
		</div>
        
	</div>

	<div class= "account-left menu">
		  <div class="title" onclick="javascript:  window.location.href = '/';">
          </div>
		<ul>
			<li><a href="{% url 'account_summary' %}">Account Summary</a></li>
			

			<hr />
			<li><a href="{% url 'account_reading_orders' %}">Books I am Receiving</a></li>

			<hr />
			<li><a href="{% url 'account_material' %}">My Inventory</a></li>			
			<li><a href="{% url 'account_giving_orders' %}">Books I need to Send</a></li>


			<hr />
			<li><a href="{% url 'userena_profile_edit' username=user.username %}">Update Profile</a></li>
			<li><a href="{% url 'userena_email_change' username=user.username %}">Change Email</a></li>			
			<li><a href="{% url 'userena_password_change' username=user.username %}">Change Password</a></li>
			
			<hr />
			<li><a href="{% url 'userena_signout' %}">Logout</a></li>
			
			
			<!-- Hide these items for now. Till we have time to create a whole page for the management of each table.   
            <li><a href="{% url 'account_material_new' %}">Add Book/CD/DVD</a></li>
			<li><a href="{% url 'giver_material_new' %}">Give Material</a></li>
            <li><a href="{% url 'account_add_publisher' %}?next={{ request.get_full_path }}">Add Publisher</a></li>
            -->
		</ul>
	</div>

  </body>
{% endblock %}
