{% extends 'base.html' %}

{% block body %}
<body class="account">

<div class="contentwrapper">
		<div class="account-right">
            {% block account_right %}
            
			<p><h2><a href="{% url 'userena_profile_edit' username=user.username %}">Profile</a></h2>
			You can complete giver's profile and start listing Inventory.

			<p><h2><a href="{% url 'account_reading_orders' %}">Reading Orders</a></h2>
			As a Dharma material seeker, you place orders to request material from others.  
			<ul>
			<li><b>New Orders: {{ reading_orders_new }}</b></li>
			<li>Shipped Orders: {{ reading_orders_shipped }}</li>
			<li>Delivered Orders: {{ reading_orders_delivered }}</li>
			</ul>

			<p><h2><a href="{% url 'account_giving_orders' %}">Giving Orders</a></h2>
			As a Dharma material distributer/giver, you need to mail materials to others upon request. 
			<ul>
			<li><b>New Orders: {{ giving_orders_new }}</b></li>
			<li>Shipped Orders: {{ giving_orders_shipped }}</li>
			<li>Delivered Orders: {{ giving_orders_delivered }}</li>
			</ul>

			<p><h2><a href="{% url 'account_material' %}">Inventory</a></h2>
			As a Dharma material distributer/giver, you need to post your materials so that others can place an order. <br>
			The seekers are expected to mail you the mailing cost, if specified, after received the material, and encouraged to support your distribution effort, if donation/payment method is specified. 
			<ul>
			<li><b>Active Items: {{ materials_active }}</b></li>
			<li>Inactive Items: {{ materials_inactive }}</li>
            
            {% endblock account_right %}
		</div>
        
	</div>

	<div class= "account-left menu">
		<a href="{% url 'index' %}"><img src="{{ MEDIA_URL }}img/logo-small.png"></a>
		<ul>
			<li><a href="{% url 'account_summary' %}">Account Summary</a></li>
			<li><a href="{% url 'userena_profile_edit' username=user.username %}">Profile</a></li>
			<li><a href="{% url 'account_reading_orders' %}">Reading Orders</a></li>
			<li><a href="{% url 'account_giving_orders' %}">Giving Orders</a></li>
			<li><a href="{% url 'account_material' %}">Inventory</a></li>
            <li><a href="{% url 'account_material_new' %}">Add Book/CD/DVD</a></li>
			<li><a href="{% url 'giver_material_new' %}">Give Material</a></li>
            <li><a href="{% url 'account_add_author' %}?next={{ request.get_full_path }}">Add Author</a></li>
            <li><a href="{% url 'account_add_publisher' %}?next={{ request.get_full_path }}">Add Publisher</a></li>
		</ul>
	</div>

  </body>
{% endblock %}
