{% extends 'base.html' %}
{% load i18n %}
{% block main %}
<div class ="contentwrapper">
    <div class="content-outer-column">
        <div>

            <h2>{{ user.profile.get_display_name }} {% trans "from" %} {{ profile.get_location }}</h2>
            {% if website %}
              {% trans "Website" %}: <a href="{{ profile.website }}">{{ profile.website }}</a></br>
            {% endif %}
            {% if facebook %}
              <p>{% trans "Facebook" %}: <a href="{{ profile.facebook }}">{{ profile.facebook }}</a></p>
            {% endif %}
            <p>{{ profile.description }}</p>

            <!--b>Donation:</b>
            {% if profile.is_nonprofit %}
                <p>We are regestired non-profit organization, and provide receipts for donation.</p>
            {% endif %}

            Paypal Email: {{ profile.paypal_email }}<br>
            Other Means:
            -->


        </div>
    </div>
</div>
{% endblock %}
