{% load staticfiles %}
{% load i18n %}
<div class="title" onclick="javascript:  window.location.href = '/';">
</div>

<div class="small-menu">
    <a href="{% url 'user_public' view_user.pk %}?language={{request.GET.language}}">{% blocktrans with view_user.profile.get_display_name as username %}{{ username }}'s Dharma Page{% endblocktrans %}</a> |
    <a href="{% url 'boardmessage_list' view_user.pk %}">{% trans "Messages" %}</a> |
    <a href="{% url 'home' %}">{% trans "Home" %}</a> |
    <a href="{% url 'index' %}">{% trans "Free Books" %}</a> | {% if user.is_authenticated %}<a href="{% url 'account_summary' %} ">{% trans "My Account" %}</a> | {% endif %}
    <div class="cart-menu" onclick="document.location='{% url 'view_bag' %}'; ">
        <div class="cart">
            <img src="{% static 'img/cart.png' %}">
            <!--a href="{% url 'view_bag' %}"></a-->
            <div class="cart-number">{{ order_items_count }}</div>
        </div><div class="cart-title">{% trans "Cart" %}</div>
    </div>

    | <a href="{% url 'help' %}">{% trans "Help" %}</a>

    <div style="position:relative;left:5px;display:none;">
        <div class="arrow-content"></div>
        <div class="arrow-up-border"></div>
        <div class="arrow-up"></div>
    </div>
</div>
