{% extends 'base.html' %} {% block header %}
{% include 'network/user_public_header.html' %}
{% endblock %} {% load readmore el_pagination_tags staticfiles %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline_app.css' %}" />
{% endblock %}
{% block subheader %}
<div style="float:left;"><span style="color:#996633;font-size:14px;text-align:right;">

<div>
    <a href="{% url 'user_public' view_user.pk %}?language={{request.GET.language}}&topic={{request.GET.topic }}">All</a> &nbsp;
    {% for item_catergory in categories %}
    <a href="{% url 'user_public' view_user.pk %}?category={{ item_catergory.id }}&language={{request.GET.language}}&topic={{request.GET.topic }}" title="Posts: 0"  >{{item_catergory.name}}</a> &nbsp;
    {% endfor %}
</div>

 </span></div>

<b>Language:</b> <select id='item_language' name="language" onchange="showSelected()">
   <option value="all">All</option>
   {% for language in languages %}
   <option value="{{ language.id }}">{{ language.name }}</option>
   {% endfor %}
</select>

<div class="clear-both"></div>
{% endblock subheader %}
{% block main %}
    <div class="content-left keywords-list">
    <a href="{% url 'user_public' view_user.pk %}?topic=all&language={{request.GET.language}}&category={{request.GET.category }}">All Topics</a><br>

	{% for topic in top_topics %}
	<a href="{% url 'user_public' view_user.pk %}?topic={{ topic.id }}&language={{request.GET.language}}&category={{request.GET.category }}" title="Posts: {{ topic.topic_count }}">{{ topic.name }}</a> &nbsp;
	{% endfor %}
    </div>

    {% include 'timeline/timelineitem_list.html' %}
{% endblock main %}
{% block right %}
<div class="content-right">
    <div class="box">
        <div class="header">{{ view_user.profile.get_display_name }}</div>
        <div class="box-content">
            <div class="row">Member since: {{view_user.profile.create_date |date:"M d, Y"}}</div>
            <div class="row"> Posts: {{post_count}} </div>
            <div class="row"> Following: {{following_count}}</div>
            <div id="follower_count" class="row"> Followers: {{follower_count}}</div>
        </div>
    </div>
 {% if user.is_authenticated %}
 {% if user.id != view_user.id %}
    <a href="{% url 'user_message_list_detail' view_user.username %}">
    <div class="button" style="width:98px;text-align:center;">
        Send a Note
    </div>
    </a>

    <form id="unfollow" action="{% url 'user_unfollow' view_user.pk %}">
        {% csrf_token %}
        <div id="unfollow_button" class="button" style="width:98px;text-align:center;">
            Unfollow</div>
    </form>

    <form id="follow" action="{% url 'user_follow' view_user.pk %}">
        {% csrf_token %}
        <div id="follow_button" class="button" style="width:98px;text-align:center;">
            Follow</div>
    </form>
{% endif %}
{% else %}
    <div class="button" style="width:98px;text-align:center;" onClick="window.location = '{%  url 'userena_signin'  %}'">
        Send a Note
    </div>
    <div id="follow_button_login" class="button" style="width:98px;text-align:center;" onClick="window.location = '{%  url 'userena_signin'  %}'">
        Follow</div>
{% endif %}


    <div class="clear-both"></div>
</div>

{% endblock right %} {% block extra_js %}
	{% include 'timeline/timeline_js.html' %}
<script type="text/javascript">
    $(function() {
        var hasFollowed = "{{ has_followed }}";
        if (hasFollowed.toUpperCase() === 'TRUE') {
            $('#unfollow').show();
            $('#follow').hide();
        } else {
            $('#unfollow').hide();
            $('#follow').show();
        }
        var authenticated = "{{ has_followed }}";

        $('#follow_button').click(function() {
            var form = $('#follow');
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    $('#unfollow').show();
                    $('#follow').hide();
                    $('#follower_count').html( 'Followers: ' +data.follower_count);
                }
            });
        });

        $('#unfollow_button').click(function() {
            var form = $('#unfollow');
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    $('#unfollow').hide();
                    $('#follow').show();
                    $('#follower_count').html( 'Followers: ' +data.follower_count);
                }
            });
        });
    });
</script>

{% endblock %}
