# Exclude log files:
# ------------------
*.log

# Exclude pot files:
# ------------------
*.pot

# Exclude all python cache files:
# -------------------------------
*.pyc

# Exclude all sqlite DB files:
# ----------------------------
*.db

# Exclude email_files folder:
# ---------------------------
email_files

# Exclude all 'dot-files' except .gitignore:
# --------------------------------------------------------------------------
.*
!/.gitignore