{% extends 'base.html' %}
{% load readmore el_pagination_tags staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline_app.css' %}" />
{% endblock %}


{% block subheader %}
    {% include "subheader.html"%}
{% endblock subheader %}

{% block content %}
<div class="content-center">
    <div class="new-post-form">
        {% if form.instance.pk  %}
            <form action="{% url 'timelineitem_edit_link'  form.instance.pk %}" method="post" id="new-post-form" stye="width: 900px;">
        {% else %}
            <form action="{% url 'link_form'  %}" method="post" id="new-post-form" stye="width: 900px;">
        {% endif %}
	        {% csrf_token %}
            <div style="float:left;border-right:1px dashed black;">
                <div>
                    <label><b>Basics:</b></label>Share Dharma teachings, resources and your own expeirences.<br><br>
                    <label>Link Points to : </label>
                    {% for radio in form.item_category %}
                    {{ radio.tag }} {{ radio.choice_label }}
                    {% endfor %}
                    <br>
                </div>
                <div>
                    <label>Title of Article/Book..: </label>{{ form.title }}{{ form.title.errors }}
                </div>
                <div>
                    <label>Title Link: </label>{{ form.title_link }}{{ form.title_link.errors }}
                </div>
                <div>
                    <label>Text(Optional): </label>{{ form.content }}{{ form.content.errors }}
                </div>
                <div>
                    <label>Language:</label>{{ form.language }}{{ form.language.errors }}
                </div>
            </div>

            <div style="float:left;">
                <label><b>Extended:</b></label>Add additional information to give your content more exposure. All Optional.<br><br>
                <div>
                    <label>Teacher:</label>{{ form.teacher_name }}{{ form.teacher_name.errors }}
                    </select>
                </div>
                <div>
                    <label>Topics:</label>{{ form.topic_list }}, {{ form.topic_list }}, {{ form.topic_list }}
                </div>
                <div>
                    <label>Is Original:</label>
                    {{ form.is_original }}The main content of this post is my own writing or artistic creation.{{ form.is_original.errors }}
                </div>
            </div>
            <div style="clear:both;text-align:right;">
                <button class="button" style="float:none;"><a href="javascript:void(0);" onclick="PostForm.submitForm();">Submit</a></button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
{% block extra_js %}
    {% include "timeline/timeline_post_js.html"%}
{% endblock %}
