{% load staticfiles %}
{% load i18n %}
<div class="content-center network">
    <span style="font-size:12px;">  {% trans "Category" %}:{{ search_category }}, {% trans "Topic" %}: {{ search_topic }},  {% trans "Posted By" %}: {{ search_usertype }}, {% trans "Language" %}: {{ search_language }} </span>
	{% for timelineitem in object_list %}
	<div>
        <div class="page-body" style="text-align:left;">
            <div class="post-title">
				<div style="float:left;">
				{% if timelineitem.title_link %}
				<a href="{{ timelineitem.title_link }}" style="text-decoration:none;"><b>{{ timelineitem.title }}</b></a>
				{% else %}
				<b style="color:black;">{{ timelineitem.title }}</b>
				{% endif %}
                {% if timelineitem.uploaded_file and timelineitem.is_uploaded_file_pdfhtml%}
                    <a href="{{ timelineitem.uploaded_file.url }}">
                    {% if timelineitem.is_uploaded_file_pdf%}
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    {% endif %}
                    </a>
                {% endif %}
				</div>
                <div style="float:right">
				{% if timelineitem.is_original%} Original {% endif %} {{ timelineitem.item_category.name }} |  <a  href="{% url 'user_public' timelineitem.created_user.id %}">{{ timelineitem.created_user.username }}</a>
                </div>
            </div>
            <div class="post-content" style="clear:both;">
				{% if timelineitem.content_length  > 700 %}
                     {{ timelineitem.content| linebreaks| truncatechars_html:700 }}
					 <a href="{% url 'timelineitem_detail' timelineitem.pk%}">{% trans "more" %}</a>
			    {% elif timelineitem.content_length == 0 %}
                    <br>
                {% else %}
				      {{ timelineitem.content| linebreaks| urlize}}
				{% endif %}
            </div>
            <div class="page-icon">
                 {{timelineitem.created |date:"M d, Y"}} by <a  href="{% url 'user_public' timelineitem.created_user.id %}">{{ timelineitem.created_user.username }}</a>
				{% if user.is_authenticated %}
                    {% if user ==  timelineitem.created_user  %}
                        {% if timelineitem.title_link  %}
                        <a href="{% url 'timelineitem_edit_link' timelineitem.pk%}">{% trans "Edit" %}</a>
                        {% else %}
                        <a href="{% url 'timelineitem_edit_text' timelineitem.pk%}">{% trans "Edit" %}</a>
                        {% endif %}
                    {% endif %}

				    <a href="{% url 'timelineitem_detail' timelineitem.pk%}">{% trans "Comments" %}({{ timelineitem.total_comments }})</a>
                    {% if user !=  timelineitem.created_user  %}
                        <a id="reblog_{{timelineitem.pk}}" href="{% url 'timelineitem_reblog' timelineitem.pk %}" onclick="return reblog({{timelineitem.pk}});">{% trans "Reblog" %}(<span id="reblog_count_{{timelineitem.pk}}">{{ timelineitem.total_reblogs }}</span>)</a>
                        {% if timelineitem.pk in likes_ids  %}
                            <a id="unlike_{{timelineitem.pk}}" href="{% url 'timelineitem_unlike' timelineitem.pk %}" onclick="return unlike({{timelineitem.pk}});">{% trans "UnLike" %}(<span id="unlike_count_{{timelineitem.pk}}">{{ timelineitem.total_likes }}</span>)</a>
                            <a style="display: none;" id="like_{{timelineitem.pk}}" href="{% url 'timelineitem_like' timelineitem.pk %}" onclick="return like({{timelineitem.pk}});">{% trans "Like" %}(<span id="like_count_{{timelineitem.pk}}">{{ timelineitem.total_likes }}</span>)</a>
                        {% else %}
                            <a style="display: none;" id="unlike_{{timelineitem.pk}}" href="{% url 'timelineitem_unlike' timelineitem.pk %}" onclick="return unlike({{timelineitem.pk}});">{% trans "UnLike" %}(<span id="unlike_count_{{timelineitem.pk}}">{{ timelineitem.total_likes }}</span>)</a>
                            <a id="like_{{timelineitem.pk}}" href="{% url 'timelineitem_like' timelineitem.pk %}" onclick="return like({{timelineitem.pk}});">{% trans "Like" %}(<span id="like_count_{{timelineitem.pk}}">{{ timelineitem.total_likes }}</span>)</a>
                        {% endif %}
                    {% endif %}
                {% else %}
				<a href="{% url 'userena_signin' %}">{% trans "Comments" %}({{ timelineitem.total_comments }})</a>
				<a href="{% url 'userena_signin' %}">{% trans "Reblog" %}({{ timelineitem.total_reblogs }})</a>
				<a href="{% url 'userena_signin' %}">{% trans "Like" %}({{ timelineitem.total_likes }})</a>
				{% endif %}
            </div>
            <hr>
        </div>
	</div>

    {% endfor %}

    <div class="page-footer">
		{% if page_obj.has_previous %}
        <a href="{% url 'home' %}?category={{ request.GET.category }}&topic={{ request.GET.topic }}&language={{request.GET.language}}&usertype={{request.GET.usertype }}&page={{ page_obj.previous_page_number }}">< {% trans "Prev" %}</a>
		{% endif  %}
		{% if page_obj.has_next %}
		<a href="{% url 'home' %}?category={{ request.GET.category }}&topic={{ request.GET.topic }}&language={{request.GET.language}}&usertype={{request.GET.usertype }}&page={{ page_obj.next_page_number }}">{% trans "Next" %} ></a>
		{% endif %}
	</div>
</div>
