{% extends 'base.html' %}
{% load i18n %}
{% load readmore el_pagination_tags staticfiles %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline_app.css' %}" />
{% endblock %}
{% block subheader %}
    {% include "subheader.html"%}
{% endblock subheader %}
{% block main %}
<div class="content-center network">
    <div>
        <div class="page-body" style="text-align:left;">
            <div class="post-title">
                <div style="float:left;"><b style="color:black;">{{ timelineitem.title }} </b>
                    {% if timelineitem.uploaded_file and timelineitem.is_uploaded_file_pdfhtml%}
                        <a href="{{ timelineitem.uploaded_file.url }}">
                            {% if timelineitem.is_uploaded_file_pdf%}
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            {% else %}
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="post-content" style="clear:both;">
                {% if timelineitem.uploaded_file and not timelineitem.is_uploaded_file_pdfhtml %}
                <img class="post-img" src="{{ timelineitem.uploaded_file.url }}"/><br>
                {% endif %}
                {{ timelineitem.content | linebreaks | urlize}}
                <br>
            </div>

            <font style="font-size:12px;">Reblogs({{ timelineitem.total_reblogs }}):
                {% for reblog_user in timelineitem.users.all %}
                 {% if reblog_user.id != timelineitem.created_user.id %}
                <a  href="{% url 'user_public' user.id %}">{{ reblog_user.username }}</a>
                {% endif %}
                {% endfor %}
            </font>
                 <br>
            <font style="font-size:12px;">Likes({{ timelineitem.total_likes }}):
                {% for like_user in timelineitem.likes.all %}
                <a  href="{% url 'user_public' like_user.id %}">{{ like_user.username }}</a>
                {% endfor %}

            </font> <br>

            <div class="page-icon">
            </div>
            <hr>
        </div>
    </div>
    <div>
        <p><b>{% trans "All comments" %}</b></p>
        {% for comment in timelineitem.comments.all %}
        <a href="{% url 'user_public' comment.comment_user.id %}">
        {% blocktrans with comment.comment_user.username as username and comment.text as comment and comment.created|date:"M d, Y" as comment_date %}
            {{ username }}</a> on  {{comment_date }}  : <br>{{ comment }}<br>
        {% endblocktrans %}
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <form action="{% url 'timelineitem_comment' timelineitem.pk %}" method="post">
    {% else %}
    <form action="{% url 'userena_signin' %}" method="get">
    {% endif %}
        {% csrf_token %}
    <div>
        <p><b>{% trans "Comment" %}:</b></p>
        {{ form.text }}{{ form.text.errors }}
    </div>
    <div>
        <button class="button" style="float:none;" type="submit">{% trans "Submit" %}</button>
    </div>
    </form>
</div>
{% endblock main %}
