<div class="new-post-form">
  <form action="" method="post" id="new-post-form">
    {% csrf_token %}
    <p>{{ prompt }}:</p>

    <div>
      <textarea name="content" id="post-body" rows="5" placeholder="Inspired by a book, a talk, a link? Introduce it to the others with a quote from the book/video/link.">{{ form.content.value | default_if_none:"" }}</textarea>
    </div>
    <div id="post-additional-panel" style="display: none">
      <table>
        <tr>
          <td><span class="prompt">Keywords: </span><input type="text" id="keywords" value="{{ form.keywords.value | default_if_none:'' }}" name="keywords" placeholder="Separate keywords by comma ,"/></td>
        </tr>
      </table>
    </div>
    
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
        {{field}}{{error}}
      {% endfor %}
    {% endfor %}
    
     <div class="button dropdown-menu" id="btn-add-post"><a href="javascript:void(0);" onClick="PostForm.submitForm();">Share Something</a>
      <div class="dropdown-menu-content">
        {% for cat in categories %}
         <a href="javascript:void(0);" onClick="PostForm.submitForm('{{cat.id}}');" title="Posts: {{ cat.posts_count }}" class="{% if request.GET.category and category_code == cat.code %}selected-category{% endif %}">{{ cat.name }}</a>
        {% endfor %}
      </div>
     </div>
     <input type="hidden" name="category" value="{{ category }}"/>

  </form>
</div>
<script>
  $(document).ready(function () {
	//debugger;
    PostForm.init();
  });
</script>
