<div class="new-post-form">
  <form action="" method="post" id="new-post-form">
    {% csrf_token %}
    <p>{{ prompt }}:</p>

    <div>
      <textarea name="content" id="post-body" rows="5" placeholder="Inspired by a book, a talk, a link? Introduce it to the others with a quote from the book/video/link.">{{ form.content.value | default_if_none:"" }}</textarea>
    </div>
    <div id="post-additional-panel" style="display: none">
      <table>
        <tr>
          <td><span class="prompt">Title: </span><input type="text" name="title" id="title" value="{{ form.title.value | default_if_none:'' }}"/></td>
          <td><span class="prompt">Link: </span><input type="text" name="link" placeholder="http://www..." value="{{ form.link.value | default_if_none:'' }}"/></td>
        </tr>
        <tr>
          <td><span class="prompt">Keywords: </span><input type="text" id="keywords" value="{{ form.keywords.value | default_if_none:'' }}" name="keywords" placeholder="Separate keywords by comma ,"/></td>
          <td>
            <span class="prompt">Language:</span>
            <select name="language">
              <option value="en" selected="selected">English</option>
              <option value="zh">Chinese</option>
              <option value="o">Other</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <div class="button" id="btn-add-post"><a href="#">Post</a></div>
      <input type="hidden" name="category" value="{{ category }}"/>
    </div>
  </form>
</div>
<script>
  $(document).ready(function () {
    PostForm.init();
  });
</script>
