{% extends 'account/summary.html' %}

{% block account_right %}
<h2>Giving Orders</h2>

<div class="order-box">
{% for order in orders %}
	<div style="clear:both;">
	    <div class = "warning" style="display:inline;">	
		{% if order.order.status == 'NEW'%}
	    Waiting for reader to pay. 
	    {% endif %}
	    
		{% if order.order.status == 'PAID'%}
	    You need to ship this order. 
	    {% endif %}	    
	    </div>
	    <div style="display:inline;float:right;">
	       <a href="javascript:void(0)" class="add-another" 
	          onclick="javascript: window.open('{% url 'contact_user' %}?user_id={{order.order.reader.id}}',  'winname','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=280, left=200, top=60');">Contact Reader {{ order.order.reader.get_profile.get_display_name }}</a> 		    	
	   	</div>  
	    <div class="contentwrapper">
	        <div class="right" >
	        {% for detail in order.detail%}
			        {{ detail.inventory.material.title }} &nbsp; Quantity: {{ detail.quantity }}<br>
		    {% endfor %}
		    <div style="text-align:right; margin-top:-12px;">
		        {% if order.order.status == 'PENDING' %}
		        {% if form_order_id == order.order.id %}
		        {{ form.shipping_cost.errors }}
		        {% endif%}
		        <form action="." method="POST">
		        {% csrf_token %}
		        <input type="hidden" name="order_id" value="{{order.order.id}}">
		        Shipping Cost: $<input type="text" name="shipping_cost" />
		        <input type="submit" value="Save"></a>
		        </form>
		        {% endif %}
		    	{% if order.order.status == 'NEW' or order.order.status == 'PENDING' %}
		    	<br><a href="{% url 'account_giving_orders' %}?order_id={{order.order.id}}&status=CANCEL">Cancel</a>
		    	{% elif order.order.status == 'PAID' %}
		    	<br><a href="{% url 'account_giving_orders' %}?order_id={{order.order.id}}&status=SHIPPED">Shipped</a>
		    	{% else %}
		    	<br><br>
		    	{% endif %}
		    	

		    	<!-- a href="{% url 'file_claim' %}?order_id={{order.order.id}}">File Claim</a-->

		    </div> 
	        </div>
	    </div>
	    <div class="left">
	        Order No.{{ order.order.id }} &nbsp; Order Placed: {{ order.order.order_date|date:"M d, Y"}}<br>
	        
	        {% if order.order.status == 'NEW' or order.order.status == 'PENDING' %}
	        Status: <b>{{ order.order.status|title }} </b> 
	        {% endif %} 
	        {% if order.order.status == 'PAID' %}	
	        <b>Paid</b>: {{ order.order.pay_date|date:"M d, Y" }}
	        {% endif %}
	        {% if order.order.status == 'SHIPPED' %} 
	        <b>Shipped</b>: {{ order.order.ship_date|date:"M d, Y"}}
	        {% endif %}       
	        {% if order.order.status == 'CANCEL' %} 
	        <b>Cancelled</b>: {{ order.order.cancel_date|date:"M d, Y"}}
	        {% endif %}  	        
	        Total: {% if order.order.get_total_cost == -1 %}TBD{% else %}${{ order.order.get_total_cost }}{% endif %} <br />

	    </div>
	</div>
{% empty %}
    No orders.
{% endfor %}
</div>



{% endblock %}
