{% extends 'account/summary.html' %}

{% block account_right %}
<h2>Giving Orders</h2>
<div class="order-box">
    <div class="contentwrapper">
        <div class="right">
         
        <div class="button"><a href="">Contact Grace</a></div> 
        <div class="button"><a href="">Shipped</a></div>
        The Method of No-Method: The Chan Practice of Silent Illumination &nbsp; Quatity:2 <br>
        <br><br>
        Ordered: April 13, 2013  &nbsp; Shipped: April 20, 2013
        </div>
    </div>
    <div class="left">
        Order # 12345<br>
        Ordered by Grace Jones<br>
        Total $3.20<br>

        <b>Shipped</b>
    </div>
</div>
{% endblock %}
