{% extends 'account/summary.html' %}

{% block account_right %}
<h2>Reading Orders</h2>
<div class="order-box">
{% for order in orders %}
    <div class="contentwrapper">
        <div class="right">
        {% for detail in order.detail%}
	        {{ detail.inventory.material.title }}<br>
	        Quantity: {{ detail.quantity }}<br>
	        Price: need more work
	    {% endfor %} 
        </div>
    </div>
    <div class="left">
        Order #{{ order.order.id }}<br />
        Given by <a href="{{ order.giver.get_absolute_url }}">{{ order.order.giver.get_full_name|default:order.order.giver.username }}</a><br/>
        {% if order.order.ship_date %}<strong style="color:#E47911">Shipped</strong>{% endif %}
    </div>
{% empty %}
    No orders.
{% endfor %}
</div>

{% endblock %}
