{% extends 'account/summary.html' %}

{% block account_right %}
<h2>Reading Orders</h2>
<div class="order-box">
    <div class="contentwrapper">
        <div class="right">
         The Method of No-Method: The Chan Practice of Silent Illumination &nbsp; Quantity:1 
         <div class="button"><a href="">Contact Dharma Drum Mountain</a></div>
         <div class="button"><a href="">Paid</a></div>
          <br>					
         

        Zen Basics &nbsp; Quantity:3 <br><br>
        Ordered: April 13, 2013 &nbsp; 
        Shipped: April 20, 2013<br>
        
        
        </div>
    </div>
    <div class="left">
        Order # 12345<br>
        Given by Dharma Drum Mountain <br>
        Total $1.00 &nbsp; <br>
        <b>Shipped</b><br>


    </div>
</div>

{% endblock %}
