{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{#% load url %#}
<!doctype html>
<html>
<head>
	<title>Buddhist Book Exchange</title>
	<meta name="Keywords" content="Free Buddhist books, CD and DVD. Online Buddhist community. Free services for Buddhist temples.">
	<meta name="Description" content="Buddhist exchange provide an exchange platform for Buddhist individuals and temples,
   to get and give Dharma materials for free. Provide products and services at low cost to serve the community. ">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/ui-lightness/jquery-ui-1.10.3.custom.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" />
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="{% static 'js/common.js' %}"></script>

		<script src="{% static 'admin' %}/js/vendor/jquery/jquery.min.js"></script>
		<script src="{% static 'admin' %}/js/jquery.init.js"></script>
	 	<script src="{% static 'admin' %}/js/admin/RelatedObjectLookups.js"></script>
	{% block extra_css %}{% endblock %}

	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
<head>

{% block body %}
<body>

<!--  div class="main-header menu">

	<a href="/"><img src="{{ STATIC_URL }}img/logo.png"></a>
        <div style="text-align:right;margin-right:50px;margin-top:-40px; margin-bottom:40px;""></div>
	<ul>
	    <li><a href="/">Home</a></li>
		<li><a href="{% url 'help' %}">How it works</a></li>
		{% if user.is_authenticated %}<li><a href="{% url 'account_summary' %} ">My Account</a></li>{% endif %}
	</ul>
</div-->

<div class="main-header">
	{% block header %}
	   {% include 'base_header.html' %}
    {% endblock %}

  <!-- div class="header-input">
      <div style="display:inline-block"><input placeholder="Search" style="height:18px;border:solid 1px white;"></input></div><div style="display:inline-block;border:1px solid white;background:#FFFFFF;height:20px;width:20px;vertical-align: top;"><img src="{{ STATIC_URL }}img/search.png" style="width:16px;height:16px;margin:2px;"></img></div>
  </div-->

</div>
<div class="sub-header">
{% block subheader %}
{% endblock subheader %}
</div>

<div class="content">

{% if messages %}
<!-- ul class="messagelist">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul -->
{% endif %}


{% block content %}
    {% block main %}{% endblock main %}

    {% block right %}{% endblock right %}
	<div class="clear-both"></div>
{% endblock content %}

</div>

<div class='footer' >
{% trans "Report Bug to support@buddhistexchange.com" %}  | <a href="{% url 'tos' %}">{% trans "Term of Service" %}</a>
</div>

{% block extra_js %}{% endblock %}
</body>
{% endblock body %}

</html>
