{% load staticfiles %}
{% load url from future %}
<!doctype html>
<html>
<head>
	<title>Buddhist Book Exchange</title>
	<meta name="Keywords" content="Free Buddhist books, CD and DVD. Online Buddhist community. Free services for Buddhist temples.">
	<meta name="Description" content="Buddhist exchange provide an exchange platform for Buddhist individuals and temples, 
   to get and give Dharma materials for free. Provide products and services at low cost to serve the community. ">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.10.3.custom.min.css" />
    <script src="{{ MEDIA_URL }}js/jquery-1.10.2.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="{% static 'admin' %}/js/admin/RelatedObjectLookups.js"></script>
    
    
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />    
<head>

{% block body %}
<body>

<div class="main-header menu">
	<a href="/"><img src="{{ MEDIA_URL }}img/logo.png"></a>
        <div style="text-align:right;margin-right:50px;margin-top:-40px; margin-bottom:40px;""></div>
	<ul>
	    <li><a href="/">Home</a></li>
		<li><a href="{% url 'to_giver' %}">To Giver</a></li>
		<li><a href="{% url 'to_reader' %}">To Reader</a></li>
		<li><a href="{% url 'shipping' %}">Shipping</a></li>
		<li><a href="{% url 'help' %}">How To Help</a></li>
		{% if user.is_authenticated %}<li><a href="{% url 'account_summary' %} ">My Account</a></li>{% endif %} 
	</ul>
</div>

<div class="content">

{% if messages %}
<!-- ul class="messagelist">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul -->
{% endif %}


{% block content %}
    {% block main %}{% endblock main %}
    
    {% block right %}
        <div class="rightcolumn">
		<div>
			<div style="float:left;"><img width="50px" valign="top" src="{{ MEDIA_URL }}img/bag.jpg"></div> 
			<div>
				<div style="padding-left:-200px;text-align:left"><div style="float:right;" class="button"><a href="{% url 'view_bag' %}">My Bag ( {{ order_items_count }} Items ) </a></div></div>
			</div>
		</div>

            
		<div class="bluebox">
                {% if not user.is_authenticated %}
			<div class="header">Login</div>
			<div class="bluebox-content">
                    <form method="post" action="{% url 'userena_signin' %}" id="login_form">
                        {% csrf_token %}
				<div class="row">
					<label>Email: </label><input type="text" name="identification" > </input>
				</div>
				<div class="row">
					<label>Password:  </label><input type="password" name="password" value="" > </input>
				</div>

				<div class="row" style="text-align:right">
					<div class="button"><a href="#" onclick="document.getElementById('login_form').submit();return false">Login</a></div>
				</div>
				<div style="clear:both;text-align:right;">
				 <a href="{% url 'userena_signup' %}">Register to Give</a>|
				 <a href="/accounts/password/reset/">Reset Password</a>
				</div>
                    </form>
			</div>
                {% else %}
                    <div class="header">Welcome {{ user.get_profile.get_display_name }}</div>
                    <div class="bluebox-content">
                        <div class="row">
					You name: {{ user.get_profile.get_display_name }}
				</div>
                        <div class="row">
					<a href="{% url 'userena_signout' %}">Log out</a>
				</div>
                    </div>
                {% endif %}
		</div>

		<div class="bluebox" style="padding-bottom:30px;">
			<div class="header">Feature Survey</div>
			<div class="bluebox-content">
			Which feature is important to you? 
			<ul style="margin-left:-20px;">
			<li>Online library books, user receive for free, hold books up to 3 months, agree to send to others on request after 3 months.</li>	
			<li>If ISBN is present, automaticlaly bring in book information.</li>
			<li>Enable online payment.</li>
			<li>User can review books.</li>			
			<li>Better support for countries other than US.</li> 				
			<li>Other feature requests.</li> 	
			
			</ul>
			
			</div>
		</div>
	</div>
    {% endblock right %}
    
{% endblock content %}
	<div style="text-align:center; clear:both; margin-top:100px;">
	Bug Report | <a href="{% url 'tos' %}">Term of Service</a> 
	</div>


</body>
{% endblock body %}

</html>