{% extends 'base.html' %}

{% block main %}
<div class ="contentwrapper">
	<div style="margin-right:240px;margin-left:10px;">
	Thanks for thinking about helping BuddhistExchange to grow! You can help by:
	<ul>
		<li>Shareing or requesting book/CD/DVD on BuddhistExchange.</li>
		<li>Telling friends to share or request books/CD/DVD on Buddhist Exchange</li>
		<li>Telling your temple to distribute books/CD/DVD on Buddhist Exchange</li>
		<li>Spreading the message on the internet, discussion forums, facebook, twiter</li>
		<li>If the website doesn't work well for you, drop us a note and we appreciate your feedback</li>
		<li>If you want an additional feature, let us know!</li>
    </ul>

	<p>Thanks for your support, looking forward to hear for you. </p>

	</div>
</div>
{% endblock main %}
	