{% extends 'base.html' %}
{% load readmore el_pagination_tags staticfiles %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/timeline_app.css' %}" />
{% endblock %}
{% block subheader %}
   {% include "subheader.html"%}
{% endblock subheader %}

{% block main %}
	<div class="content-left keywords-list">
    <a href="{% url 'home' %}?category={{request.GET.category }}&language={{request.GET.language}}&usertype={{request.GET.usertype }}"
		{% if not request.GET.topic %} class="selected-link"{% endif %}>All Topics</a><br>

	{% for topic in top_topics %}
	<a href="{% url 'home' %}?topic={{ topic.id }}&category={{request.GET.category}}&language={{request.GET.language}}&usertype={{request.GET.usertype }}" title="Posts: {{ topic.topic_count }}"
		{% if topic.id == request.GET.topic|add:0 %}class="selected-link"{% endif %}>{{ topic.name }}</a> &nbsp;
	{% endfor %}
	</div>

   {% include 'timeline/timelineitem_list.html' %}
{% endblock main %}

{% block right %}
<div class="content-right">

	{% include "login_logout_box.html"%}

    <div class="button" id="btn-add-post" style="width:200px;text-align:center;" onClick="window.location = '{% url 'link_form'  %}'">
        <span style="font-size:20px;text-shadow: 0px 1px 1px #4d4d4d;">Share Dharma Link</span><br>
        <span style="text-decoration:italic"> Article, Books, Vedio teaching, mp3, Website ... </a>

    </div>

    <div class="button" id="btn-add-post" style="width:200px;text-align:center;margin-top:10px;" onClick="window.location = '{% url 'text_form'  %}'">
        <span style="font-size:20px;text-shadow: 0px 1px 1px #4d4d4d;">Share Dharma Text</span><br>
            <span style="text-decoration:italic"> Quote, Transcript, Thought, Blog, Picture ... </a>
    </div>

    <div class="clear-both"></div>
</div>
{% endblock right %}

{% block extra_js %}
	{% include 'timeline/timeline_js.html' %}
{% endblock %}
