{% extends 'base.html' %}
{% load readmore el_pagination_tags staticfiles %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/timeline_app.css' %}" />
{% endblock %}
{% block subheader %}
   {% include "subheader.html"%}
{% endblock subheader %}

{% block main %}
<div class="content-left keywords-list">
    All Topics<br>

    <a href="http://localhost:8000/#" title="Posts: 3">retreat</a> &nbsp;
    <a href="http://localhost:8000/#" title="Posts: 2">meditation</a> &nbsp;
    <a href="http://localhost:8000/#" title="Posts: 2">chinese</a> &nbsp;
    <a href="http://localhost:8000/#" title="Posts: 1">chan</a> &nbsp;
    <a href="http://localhost:8000/#" title="Posts: 1">mind</a> &nbsp;
    <a href="http://localhost:8000/#" title="Posts: 0">joy</a> &nbsp;
    <a href="http://localhost:8000/#" title="Posts: 0">general introduction</a> &nbsp;
    <a href="http://localhost:8000/#" title="Posts: 0">beginner</a> &nbsp;
    <a href="http://localhost:8000/#" title="Posts: 0">happiness</a> &nbsp;
</div>

<div class="content-center network">
    <span style="font-size:12px;">  Category:All, Keyword: All Keywords,  Posted By: Everyone, Language: English </span>
    <div>
        <div class="page-body" style="text-align:left;">
            <div class="post-title">
                <div style="float:left;"><b style="color:black;">My experience at the one day retreat </b></div>
                <div style="float:right"> <a>PDF</a> | Original Article | <a>Sabrina</a> </div>
            </div>
            <div class="post-content" style="clear:both;">
                I have joined this one day retreat at the dharma drum temple. I have joined this one day retreat at the dharma drum temple. I have joined this one day retreat at the dharma drum temple. I have joined this one day retreat at the dharma drum temple. I have
                joined this one day retreat at the dharma drum temple. I have joined this one day retreat at the dharma drum temple. I have joined this one day retreat at the dharma drum temple. I have joined this one day retreat at the dharma drum temple.
                I have joined this one day retreat at the dharma I have joined this one day retreat at the dharma drum temple. I have joined this one day retreat at the dharma drum temple. <a>More..</a>
                <br><a>retreat</a>,<a>metication</a> &nbsp; &nbsp;
            </div>
            <div class="page-icon">
                Today by <a>Tom</a> <a>Comments(3)</a> <a>Reblog(5)</a> <a>Like(3)</a>
            </div>
            <hr>
        </div>

    </div>

    <div>
        <div class="page-body" style="text-align:left;">
            <div class="post-title">
                <div style="float:left;"><a href="https://www.buddhistdoor.net/features/approaching-chan-part-2-the-two-streams-of-chan-contemplative-practices" style="text-decoration:none;"><b>Approaching Chan, Part 2: The Two Streams of Chan Contemplative Practices </b></a></div>
                <div style="float:right"> Article Link | Ven. Guo-Xing</div>

            </div>
            <div class="post-content" style="clear:both;">
                Article by Ven. Guo Xing and Ven. Chang Hwa on Chan/Zen practice's development through the ages, as taught by Chan Master Sheng Yen. <br>
                <br><a>metication, chinese, chan</a> &nbsp; &nbsp;
            </div>

            <div class="page-icon">
                Yesterday by <a>Grace</a> <a>Comments(3)</a> <a>reblog(5)</a> <a>Like(3)</a>
            </div>
            <hr>
        </div>

    </div>

    <div>
        <div class="page-body" style="text-align:left;">
            <div class="post-title">
                <div style="float:left;"></div>
                <div style="float:right"> Quote Link | Master Sheng Yen</div>

            </div>
            <div class="post-content" style="clear:both;">
                When you can keep your mindunruffled by the ups and downs in life, you will experience true joy.
                <br><a>mind, joy</a> &nbsp; &nbsp;
            </div>

            <div class="page-icon">
                Sep 1, 2016 by <a>Sabrina</a> <a>Edit</a> <a>Comments(3)</a>
            </div>
            <hr>
        </div>

    </div>

    <div>
        <div class="page-body" style="text-align:left;">
            <div class="post-title">
                <div style="float:left;"><a href="http://www.buddhanet.net/pdf_file/tree-enlightenment.pdf" style="text-decoration:none;"><b>Tree of Enligtenment </b></a></div>
                <div style="float:right"> Book | Peter Della Santina</div>

            </div>
            <div class="post-content" style="clear:both;">
                This book explored the history and theory of Buddhism <br>

                <br><a>general introduction</a> &nbsp; &nbsp;
            </div>

            <div class="page-icon">
                Aug 27, 2016 by <a>Vivian</a> <a>Comments(3)</a> <a>reblog(5)</a> <a>Like(3)</a>
            </div>
            <hr>
        </div>

    </div>
    <div>
        <div class="page-body" style="text-align:left;">
            <div class="post-title">
                <div style="float:left;"><a href="https://www.youtube.com/watch?v=H94Dz4Iq2d4" style="text-decoration:none;"><b>How to be Happy</b></a></div>
                <div style="float:right"> Vedio Link | Ajahn Brahm </div>

            </div>
            <div class="post-content" style="clear:both;">
                If you've enjoyed this talk and would like to support the Buddhist Society of Western Australia to make these talks available to a wider audience, please consider making a donation
                <br><a>happiness</a> &nbsp; &nbsp;

            </div>>

            <div class="page-icon">
                Aug 20, 2016 by <a>Sabrina</a> <a>Edit</a> <a>Comments(3)</a>
            </div>
            <hr>
        </div>
    </div>

    <div>
        <div class="page-body" style="text-align:left;">
            <div class="post-title">
                <div style="float:left;"><a href="palithought.blogspot.com" style="text-decoration:none;"><b>A Pali Student's Thoughts</b></a></div>
                <div style="float:right"> Website Link | Ven. Pandita </div>

            </div>
            <div class="post-content" style="clear:both;">
                I am a Burmese monk doing research in Sri Lanka. I have set up a weblog to record my reflections on the world of modern academics through the eyes of a conservative monk. It is titled A Pali Student's Thoughts (palithought.blogspot.com) Welcome to all
                who happen to get interested.
                <br><a>pali</a> &nbsp; &nbsp;

            </div>

            <div class="page-icon">
                Aug 20, 2016 by <a>Ven. Pandita</a> <a>Comments(3)</a> <a>reblog(5)</a> <a>Like(3)</a>
            </div>
            <hr>
        </div>
    </div>

    <div class="page-footer">
        <a>
            < Prev</a> <a>Next ></a></div>
</div>
{% endblock main %}

{% block right %}
<div class="content-right">

	{% include "login_logout_box.html"%}

    <div class="button" id="btn-add-post" style="width:200px;text-align:center;" onClick="window.location = '{% url 'link_form'  %}'">
        <span style="font-size:20px;text-shadow: 0px 1px 1px #4d4d4d;">Share Dharma Link</span><br>
        <span style="text-decoration:italic"> Article, Books, Vedio teaching, mp3, Website ... </a>

    </div>

    <div class="button" id="btn-add-post" style="width:200px;text-align:center;margin-top:10px;" onClick="window.location = '{% url 'text_form'  %}'">
        <span style="font-size:20px;text-shadow: 0px 1px 1px #4d4d4d;">Share Dharma Text</span><br>
            <span style="text-decoration:italic"> Quote, Transcript, Thought, Blog, Picture ... </a>
    </div>

    <div class="clear-both"></div>
</div>
{% endblock right %}
