{% extends 'base.html' %}
{% load readmore endless %}

{% block main %}

<!-- language page isbn weblink -->

<div class ="contentwrapper">
	{% if msg == "signup_success" %}
	<div class="msg">You have successfully signed up. Please check your email and follow the instruction to login.</div> 
	{% endif %}
    &nbsp; &nbsp; Books are free, you may even choose to wave shipping if the giver offers free shipping. <br><br>
    {% paginate inventories %}
    {% for inventory in inventories %}
    <div class="content-outer-column">
        <div> <!--a row of book-->

            <div class ="contentwrapper">
                <div class="content-inner-column">
                    {% if  inventory.quantity %}
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="inventory_id" value="{{ inventory.id }}" />
                        
						<div style="float:right">
						    <button class="button" type="submit" style="float:none;width:120px;">Add To Bag</button><br>

						</div>                        
                                                
                        <div style="float:right; margin-top:3px; margin-right:2px;">
                            <select name="quantity">
                            {% for i in inventory.get_quantity_nums %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </form>
                    {% endif %}
                    
                    <b>{{ inventory.material.title }}</b> by {{ inventory.material.get_author_names }} &nbsp; &nbsp; 
				    {% if inventory.material.pdf %}
				    	<a href="{{ MEDIA_URL }}{{inventory.material.pdf}}" target="_blank">Download PDF</a>
				    {% endif %}
				    {% if inventory.material.website %} &nbsp;
				    	<a href="{{inventory.material.website}}" target="_blank">Web Link</a>					    
				    {% endif %}                    
                    
                    
                    {% if inventory.material.price = 0 %}
                      <i>Printed for Free Distribution by:</i> 
                      {% if inventory.material.publisher.website %}
                      <a href='{{inventory.material.publisher.website}}' target="_blank">{{inventory.material.publisher.name}}</a>
                      {% else %}
                      {{inventory.material.publisher.website}}
                      {% endif %}
                    {% endif %}  
                    <br>
                    <i>Condition:</i> {{ inventory.condition|title }} 
                    &nbsp;                 	
                    <i>Shipping:</i>{% if inventory.giver.get_profile.international_free_shipping %} Free Internationally
                    {% else %}
                       {% if inventory.giver.get_profile.domestic_free_shipping %} Free domestically 
                       {% else %}
                       Standard
                       {% endif %}                     
                    {% endif %}
                    &nbsp;
                    <i>From:</i> <!-- a href="{{ inventory.giver.get_absolute_url  }}" -->{{ inventory.giver.get_profile.get_display_name}}<!--/a-->  &nbsp;{{ inventory.giver.get_profile.get_location }}
                    
                    {% if inventory.note %}
                    &nbsp;<div style="margin-top:4px;"><i>Giver's Comments:</i> {{ inventory.note|readmore:40 }}<br></div>
                    {% endif %}
                    {% if inventory.material.description %}
                    <div style="margin-top:4px;"><i>Description:</i>{{ inventory.material.description|readmore:40 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="leftcolumn" style="text-align:center;">
                <div><img src="{{ MEDIA_URL }}{{ inventory.material.pic | default:'img/common-cover.jpg' }}" height="100px"></div>
            </div>

        </div>
    </div>
    {% endfor %}
    

</div>
{% endblock main %}
