{% extends 'base.html' %}
{% load readmore endless %}

{% block main %}
<div class ="contentwrapper">
    {% paginate materials %}
    {% for material in materials %}
    <div class="content-outer-column">
        <div> <!--a row of book-->

            <div class ="contentwrapper">
                <div class="content-inner-column">
                    <div class="button"><a href="">Add To Bag</a></div>
                    <div style="float:right; margin-top:3px; margin-right:2px;">
                        <select>
                            <option>1</option>
                        </select>
                    </div>
                    
                    <b>{{ material.title }}</b> by {{ material.get_author_names }}<br>
                    From: <a href="{{ material.publisher.get_absolute_url }}">{{ material.publisher.get_full_name|default:material.publisher.username }}</a>  &nbsp;
                    Condition: {{ material.condition }} 
                    &nbsp; 
                    Location: New Jersey, USA &nbsp; Quantity: 3 <br>
                    Domestic Shipping:{% if material.publisher.get_profile.domestic_free_shipping %}Free{% else %}No{% endif %} 
                    &nbsp; 
                    International Shipping:{% if material.publisher.get_profile.international_free_shipping %}Free{% else %}No{% endif %}
                    {{ material.description|readmore:40 }}
                </div>
            </div>

            <div class="leftcolumn">
                <div><img src="{{ MEDIA_URL }}img/book1.jpg" height="100px"></div>
            </div>

        </div>
    </div>
    {% endfor %}
    
    <div class="content-outer-column">
        <div style="text-align:center">
            {% show_pages %}
        </div>
    </div>
</div>
{% endblock main %}
