<div class="box">
        {% if not user.is_authenticated %}
    <div class="header">Login</div>
    <div class="box-content">
            <form method="post" action="{% url 'userena_signin' %}" id="login_form">
                {% csrf_token %}
        <div class="row">
            <label>Email: </label><input type="text" name="identification" > </input>
        </div>
        <div class="row">
            <label>Password:  </label><input type="password" name="password" value="" > </input>
        </div>

        <div class="row" style="text-align:right">
            <div class="button"><a href="#" onclick="document.getElementById('login_form').submit();return false">Login</a></div>
        </div>
        <div style="clear:both;text-align:right;">
        <a href="{% url 'userena_signup' %}">Register</a>
         <a href="/accounts/password/reset/">Reset Password</a>
        </div>
            </form>
    </div>
        {% else %}
            <div class="header">Welcome {{ user.profile.get_display_name }}</div>
            <div class="box-content">
                <div class="row">
            You name: {{ user.profile.get_display_name }}
        </div>
                <div class="row">
            <a href="{% url 'userena_signout' %}">Log out</a>
        </div>
            </div>
        {% endif %}
</div>
