{% extends 'base.html' %}

{% block main %}
<div class ="contentwrapper">
	<div style="margin-right:240px;margin-left:10px;">
	Shipping rate goes by weight within USA, regardless of distance. Over 5 ounces go by MediaMail:<br>
	<b>up to 5 ounces:</b> by First Class mail $2.41<br><br>

	MediaMail:<br>
	<b>up to 1 pound:</b> $2.53<br>
	<b>Up to 2 pounds:</b> $2.98<br>
	<b>Up to 3 pounds:</b> $3.43<br>
	<b>Up to 4 pounds:</b> $3.88<br>
	<b>Up to 5 pounds:</b> $4.33<br>
	<b>Up to 6 pounds:</b> $4.78<br>
	<b>Up to 7 pounds:</b> $5.23<br>
	The increments are 43 cents per pound, all the way up to $32.32 for the 70 lbs max<br><br>
	
	The giver specifies the weight of each book, cost goes by total shipping cost. Giver may request additional packaging cost,
	up to 20% of the shipping cost. <br>
	
	We currently can only support: <br>
	<b>International Shipping:</b> Free or Ask giver <br>
	<b>Domestic shipping in countries other than USA:</b> Free or Ask giver <br><br>

	However, you can always contact the seller about international shipping. If you want to help establishing the domestic shipping rate for your country, please let us know. 

	</div>
	</div>
{% endblock main %}
	