{% load i18n %}
<div style="float:left;"><span style="color:#996633;font-size:14px;text-align:right;">

<div>
    <a href="{% url 'item_list' "all"  topic_slug %}?usertype={{request.GET.usertype }}"
        {% if category_slug == 'all' %}class="selected-link"{% endif %}>{% trans "All" %}</a> &nbsp;
    {% for item_catergory in categories %}
        <a href="{% url 'item_list' item_catergory.slug  topic_slug %}?usertype={{request.GET.usertype }}" title="Posts: 0"
            {% if item_catergory.slug == category_slug %}class="selected-link"{% endif %} >{{item_catergory.name}}</a> &nbsp;
    {% endfor %}
</div>

 </span></div>

<b>Posted By:</b>
<select id='item_usertype' style="color:black;font-weight:normal;font:12px;width:100px;" onchange="showSelected()">
     <option value="everyone">{% trans "Everyone" %}</option>
     <option value="following">{% trans "People I Follow" %}</option>
   </select>

<b>Language:</b> <select id='item_language' name="language" onchange="showSelected()">
   {% for language in languages %}
   <option value="{{ language.lang_code }}">{{ language.name }}</option>
   {% endfor %}
</select>

<div class="clear-both"></div>
