<div style="float:left;"><span style="color:#996633;font-size:14px;text-align:right;">

<div>
    <a href="index.html" class="selected-link">All</a> &nbsp;
    {% for item_catergory in categories %}
        <a href="#" title="Posts: 0"  >{{item_catergory.name}}</a> &nbsp;
    {% endfor %}
</div>

 </span></div>

<b>Posted By:</b>
<select style="color:black;font-weight:normal;font:12px;width:100px;">
     <option>Everyone</option>
     <option>People I Follow</option>
   </select>

<b>Language:</b> <select name="language">
   <option value="all">All</option>
   <option value="en">English</option>
   <option value="zh">Chinese</option>
</select>

<div class="clear-both"></div>
