{% extends 'base.html' %}

{% block main %}
<div class ="contentwrapper">
	<div style="margin-right:240px;margin-left:10px;">
	Welcome ot BuddhistExchange and thanks for considering giving your Dharma books for free to others! 
	
	<p>It is a buddhist tradition to sponsor printing Dharma books, also it is more respectful, efficient and environment friendly if we could reuse precious Dharma books. This platform is designed for both distributing new Dharma books, and reuse used Dharma books. </p>
	
	<p>Reader is expected to pay the estimated shipping cost before you ship the book. The shipping cost includes packaging cost and paypal transaction cost. 

	<p>Please go ahead to register, and list your materials. Enjoy giving!
	</div>
	</div>
{% endblock main %}
	