{% extends 'base.html' %}

{% block main %}
<div class ="contentwrapper">
	<div style="margin-right:240px;margin-left:10px;">
	Welcome ot BuddhistExchange and thanks for considering giving your Dharma books! 
	
	<p>It is a buddhist tradition to sponsor printing Dharma books, also it is more respectful, efficient and environment friendly if we could reuse precious Dharma books. This platform is designed for both distributing new Dharma books, and reuse used Dharma books. </p>
	
	<p>Payments are not required when placing order, but you can be reimbursed for shipping cost. The shipping cost is  If you need to get reimbursed for shiping cost, please sepcify that for each book. You can contact the seeker in account management for reimbersement. If you still can't get it after a month, please contact BuddhistExchange. 

	<p>Please go ahead to register, and list your materials. Enjoy giving!
	</div>
	</div>
{% endblock main %}
	