{% extends 'base.html' %}

{% block main %}
<div class ="contentwrapper">
	<div style="margin-right:240px;margin-left:10px;">
	Welcome ot BuddhistExchange and thanks for considering requesting Dharma books on BuddhistExchange! 
	
	<p>Do you know that there are many buddhist practitioners and organizations are happy to 
	give brand new buddhist books for free? There are many people want to give away their used books 
	as well. BuddhistExchange is a platform to make the exchange happen. </p>
	
	<p>Some books require shipping reimbursement, please promptly reimburse our givers as soon as you received
	book by their designated method, and then change the status to PAID to inform the giver. 
	There are organizations and individuals give the books for free, if you can 
	give them a donation at any amount you can, you will help to keep this chain of giving continue. 
	
	<p>You can relist the book to give to others after reading it, and become a giver.

	<p>Please go ahead put books in your bag!
	</div>
	</div>

{% endblock main %}
	