{% extends 'base.html' %}

{% block main %}
<div class ="contentwrapper">
	<div style="margin-right:240px;margin-left:10px;">
	By visiting this website, you agree:
	<p>
	<b>Privacy</b><br>
	We use your information within this website, and its affiliates, which means registered users. 
	If you are a reader, giver will see your name and address so that mail you material. If you are a giver, reader will 
	see your payment information for payment. Email communication is conducted through the system. 
	Some of giver's information are visible to all users. 
	</p>
	<p>
	<b>Reader</b><br>
	If the giver failed to deliver the product, you may lose your payment to the giver. 
	You can file a complain with us. We will carry out investigation, may terminate the giver's account,
	but can't guarantee a refund. If you need protection, please always insist using paypal, which 
	provides buyer's protection. 
	</p>
	<p>
	<b>Giver</b><br>
	You agree to give books that are in above good condition to the reader after you receives payment.  	
	</p>
	
	By visiting this site, you agree that you will not damage us in any way, you don't 
	sue us for any reason. You don't provide information obtained from this website to others, who damage 
	us.
	
	We reserve the right to cancel the membership. 
		
	</div>
</div>
{% endblock main %}
	