{% extends 'account/summary.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.userget_profile.get_display_name as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block account_right %}

{% if form.errors %}
<!-- div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	<ul>
	{% for field in form %}
	<li>{{field.label}}  - {{ field.errors|striptags }}</li>
	{% endfor %}
	</ul>
</div-->
{% endif %}




<form action="" enctype="multipart/form-data" method="post">
  <!--  ul id="box-nav">
    <li class="first"><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
    <li class="selected"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
    <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
    <li class="last"><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
  </ul -->
  {% csrf_token %}
      
    <h2>{% trans "Update Profile" %}:</h2>
    
	{% if form.non_field_errors %}
	<ul class="errorlist">
	    {% for non_field_error in form.non_field_errors %}
	        <li>{{ non_field_error }}</li>
	    {% endfor %}
	</ul>
	{% endif %}    
    
    <input type="hidden" name="validate_receiver" value="{{validate_receiver}}">
    <input type="hidden" name="validate_giver" value="{{validate_giver}}">    
    
    <h3>Section 1. Membership Information:  </h3>
    <div><label>User Name:</label>{{ form.username }}{{ form.username.errors }}  </div>       
    <div><label>Country:</label>{{ form.country }}{{ form.country.errors }}</div>          
    <div><label>State:</label>{{ form.us_state }}{{form.state}}{{form.state.errors}}</div>   

    <!-- div><label>Show my public profile:</label>{{ form.is_public }}{{ form.is_public.errors }} * Complete public profile to let users know more about you.</div-->               
          
    <h3>Section 2. <input type="checkbox" name="check_receiver" id="id_check_receiver" {% if validate_receiver or user.get_profile.has_reader_profile %} checked {% endif %}>
    Receiver - Mailing Information:</h3>
    <div><label>First Name:</label>{{ form.first_name }}{{ form.first_name.errors }}</div> 
    <div><label>Last Name:</label>{{ form.last_name }}{{ form.last_name.errors }}</div>    
    <div><label>Address 1:</label>{{ form.address1 }}{{ form.address1.errors }}</div>    
    <div><label>Address 2:</label>{{ form.address2 }}{{ form.address2.errors }}</div>             
    <div><label>City:</label>{{ form.city }}{{ form.city.errors }}</div>       
    <div><label>Zip Code:</label>{{ form.zipcode }}{{ form.zipcode.errors }}</div>             
    
    <h3>Section 3. <input type="checkbox" name="check_giver" id="id_check_giver" {% if validate_giver or user.get_profile.has_giver_profile %} checked {% endif %}>Giver - Distribution Information:</h3>     

	<div><label>Distribution Methods:</label>{{ form.local_pickup }} Local Pickup: Receiver picks up books from your location. <br>
	<label> </label>{{ form.domestic_free_shipping }} Free Domestic Shipping: Sender covers domestic shipping expenses. <br>  
	<label> </label>{{ form.domestic_pay_shipping }} Receive Payment for Domestic Shipping: Receiver pays shipping expenses upfront.  <br>
	<label> </label>{{ form.international_free_shipping }} Free International Shipping: Sender covers international shipping expenses. 
	<label></label>{{ form.free_domestic_shipping.errors }} {{ form.free_international_shipping.errors }} 
	</div>
    <div><label>How to Pickup Locally:</label>{{ form.pickup_description }}{{ form.pickup_description.errors }}</div> 

    <div><label>Max Free Items Per shipment:</label>{{ form.max_per_order }}{{ form.max_per_order.errors }} *Receiver is required to contact sender if ordering more than this number of free books.</div>   
    <div><label>How to Donate/How is receipt returned:</label>{{ form.donation }}{{ form.donation.errors }}</div> 
    <br>
    <div><label></label>Payment methods:</div>   
   
    <div><label>Paypal Email:</label>{{ form.paypal_email }}{{ form.paypal_email.errors }}</div>   
    <div><label>Other payment methods:</label>{{ form.payment_description }}{{ form.payment_description.errors }}</div> 
    <div><label>Use for Donation:</label>{{ form.payinfo_for_donation }}Use above payment methods for donation.</div>   
            
    <!--  >Section 4. Public Profile - Information required for displaying your profile to public:</h3>
    <div><label>Entity Type:</label>{{ form.type }}{{ form.type.errors }}</div>   
    <div><label>Is Non-profit:</label>{{ form.is_nonprofit }}{{ form.is_nonprofit.errors }} * Whether donation to you is tax deductible.</div>       
    <div><label>Your Profile Picture:</label>{{ form.mugshot }}{{ form.mugshot.errors }}</div>
    <div><label>Your Website:</label>{{ form.website }}{{ form.website.errors }}</div>
    <div><label>Your Facebook page:</label>{{ form.facebook }}{{ form.facebook.errors }}</div>        
    <div><label>The Bodhi path of your organization or yourself:</label>{{ form.description }}{{ form.description.errors }}</div-->             
    

  <input type="submit" value="{% trans "Save changes" %}" />
</form>

<script language ="javascript">
$(function() {
	countryStateInit();
});
</script>
{% endblock %}
