{% extends 'base.html' %}

{% block content %}


{% if form.errors %}
<!--  div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	<ul>
	{% for field in form %}
	<li>{{field.label}}  - {{ field.errors|striptags }}</li>
	{% endfor %}
	</ul>
</div-->
{% endif %}

<form method="post" action="{% url 'userena_signup' %}" id="register_form">
{% csrf_token %}

<h2>Register</h2>

{% if form.non_field_errors %}
<ul class="errorlist">
    {% for non_field_error in form.non_field_errors %}
        <li>{{ non_field_error }}</li>
    {% endfor %}
</ul>
{% endif %}

	<h3>Basic information:</h3>
	<div><label>Email:</label>{{ form.email }}* Private {{ form.email.errors }} </div> 
	<div><label>Password:</label>{{ form.password1 }}{{ form.password1.errors }} * Private</div> 
	<div><label>Password(again):</label>{{ form.password2 }} * Private {{ form.password2.errors }}</div> 
	<br />
        
	<p><h3>For Giver - Accept Shipping Reimbursement/Donation from Reader:</h3> 
	<div><label>Public Name:</label>{{ form.screen_name }} * This can be your nick name, real name, the name of your organization, whatever you wish to be known. {{ form.screen_name.errors }} </div>	
	<div><label>State:</label>{{ form.state }}{{ form.state.errors }}</div>	
	<div><label>Country:</label>{{ form.country }}{{ form.country.errors }}</div>					
	<label>Free Domestic Shipping:</label>{{ form.free_domestic_shipping }}{{ form.free_domestic_shipping.errors }}  <br>
	<label>Free International Shipping:</label>{{ form.free_international_shipping }}{{ form.free_international_shipping.errors }} <br>
	<div><label>Max Free Items Per Order:</label>
	 {{ form.max_number_per_order }} * Reader is required to contact you if ordering more than this number of free items. {{ form.max_number_per_order.errors }}
	</div>	
	
	
	<div><label>Paypal Email:</label>{{ form.paypal_email }}{{ form.paypal_email.errors }}</div>
	<div><label style="vertical-align: top;">Other Payment Methods:</label>{{ form.other_means }}{{ form.other_means.errors }}</div>
	</p>
	
	<div><label></label>{{form.tos}} I agree to <a href="{% url 'tos' %}">Term of Service</a>.{{form.tos.errors}}</div>

	<div class="button"><a href="#" onclick="document.getElementById('register_form').submit();return false">Complete Registration</a></div>

</form>
{% endblock %}