{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<style>
label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}
</style>
{% if form.errors %}
<!--  div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	<ul>
	{% for field in form %}
	<li>{{field.label}}  - {{ field.errors|striptags }}</li>
	{% endfor %}
	</ul>
</div-->
{% endif %}

<form method="post" action="{% url 'userena_signup' %}" id="register_form">
{% csrf_token %}

<h2>{% trans "Register" %}</h2>

{% if form.non_field_errors %}
<ul class="errorlist">
    {% for non_field_error in form.non_field_errors %}
        <li>{{ non_field_error }}</li>
    {% endfor %}
</ul>
{% endif %}

	<h3>{% trans "Basic information" %}:</h3>
	<div><label>{% trans "Email" %}:</label>{{ form.email }} {{ form.email.errors }} </div>
	<div><label>{% trans "User Name" %}:</label>{{ form.username }} {{ form.username.errors }} </div>
	<div><label>{% trans "Password" %}:</label>{{ form.password1 }} {{ form.password1.errors }} </div>
	<div><label>{% trans "Password(again)" %}:</label>{{ form.password2 }} {{ form.password2.errors }}</div>
	<div><label>{% trans "Country" %}:</label>{{ form.country }}{{ form.country.errors }}</div>
    <div><label>{% trans "State" %}:</label>{{ form.us_state }}{{form.state}}{{form.state.errors}}</div>
    <div><label>{% trans "Language" %}:</label>{{ form.language }}{{ form.language.errors}} {{ form.language1 }}{{ form.language1.errors}} {{ form.language2 }}{{ form.language2.errors}} {{ form.language3}}{{ form.language3.errors}}</div>

	<br />


	<div><label></label>{{form.tos}} {% trans "I agree to" %} <a href="{% url 'tos' %}">{% trans "Term of Service" %}</a>.{{form.tos.errors}}</div>

	<div class="button"><a href="#" onclick="document.getElementById('register_form').submit();return false">{% trans "Complete Registration" %}</a></div>

</form>

<script language ="javascript">
$(function() {
	countryStateInit();
});
</script>
{% endblock %}
